version: "3.7"
networks:
  jenkins:

services:
  jenkins:
    build:
      context: .
      dockerfile: debian/Dockerfile
      args:
        user: cuong
        group: cuong
        uid: 1000
        gid: 1000
        DOCKER_GID: 115
        http_port: 8080
        agent_port: 50000
        JENKINS_VERSION: 2.545
        WAR_SHA: d9be5cd8090074b859b264f89e19e78e3b28efd0acdf6a47e1d12d5d2bd68ad5
        JENKINS_HOME: /home/cuong/jenkins_home
        TZ: ASIA/Ho_Chi_Minh
        DEBIAN_FRONTEND: noninteractive
    image: hungcuongvt90/jenkins:ubuntu-jenkins-2.545-cuong
    container_name: jenkins
    user: cuong
    expose:
      - 8080
    environment:
      - DOCKER_HOST=unix:///var/run/docker.sock
    volumes:
      - ${PWD}/../jenkins_home:/var/jenkins_home
      - /var/run/docker.sock:/var/run/docker.sock
    networks:
      - jenkins
    restart: always
